<form novalidate role="form">
    Nom: <input type="text" ng-model="cour.name" class="form-control"/><br />
    Description: <input type="text" ng-model="cour.content" class="form-control"/><br />
    Année: 
    <div class="btn-group">
        <label class="btn btn-default" ng-model="cour.rank" btn-radio="0" selected>5 ème</label>
        <label class="btn btn-default" ng-model="cour.rank" btn-radio="1">6 ème</label>
        <label class="btn btn-default" ng-model="cour.rank" btn-radio="2">7 ème</label>
    </div>
    <br /><br />
    <button ng-click="send(cour)" class="btn btn-primary">Envoyer</button>
  </form>