<div 	ng-repeat="chapitre in chapitres | orderBy:['rank', 'position']" 
		class="cour dropdown">
	<button autounfocus
			type="button"
			class="btn btn-default btn-lg dropdown-toggle listButton"
			data-toggle="dropdown"
			ng-show="userInfo.rank >= 3">
		<span class="glyphicon glyphicon-align-justify"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="/#/editChapitre/{{chapitre._id}}">Editer</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="remove(chapitre._id)">Supprimer</a></li>
	</ul>
	<span class="chapitreName" 
		ng-click="goto('/viewChapitre/'+ chapitre._id)">{{chapitre.name}}</span>
</div>