<div class="listItem listItemHeader noCursor">
	Resultats :
	<progress max="results.max" class="qcmResultPBar">
		<bar value="results.correct" type="success">{{results.correct}}</bar>
		<bar value="results.incorrect" type="danger">{{results.incorrect}}</bar>
	</progress>
</div>
<div ng-repeat="res in results.questions" class="listItem">
	<div class="listItemHeader" 
		ng-click="res.active = !res.active"
		ng-class="{listColorGreen: res.correct, listColorRed: !res.correct}">
		Question {{$index + 1}} <br>
		Réponse : {{getAnswer(res.question)}}, Votre réponse : {{res.given}}
	</div>
	<div class="listItemContent"
		ng-show="res.active">
		<div class="listItemContentItem">
		  	<div btf-markdown="res.question.explain"></div>
		</div>
	</div>
</div>