body{
  padding-bottom: 42px;
  font-family: 'PT Sans', sans-serif;
  text-rendering: optimizeLegibility;
}
.connexionBox
{
  width: 300px;
  padding: 5px;
  height: 128px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
  text-align: center;
  vertical-align: middle;
}
.connexionBox input
{
  text-align: center;
  margin-bottom: -15px;
}
.title, .heavyTitle
{
  text-align: center;
  font-size: 89px;
  font-weight: 900;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  color: white;

  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(255,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,255,0,.3),
               0 3px 5px rgba(0,0,255,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  background-color: rgba(0,0,0, .3);
  box-shadow: inset 0px 0px 35px 50px white;
}
.heavyTitle{
  font-size: 80px;
}
.alert{
  width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.topper{
  width:100%;
  height:40px;
  color: white;
  border: none;
  background:#333;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
}
.topperButton .btn{
  border-radius: 0px;
  color: white;
  border: none;
  background-color: #333;
  height: 40px;
}
.topperButton{
  width: 44px;
  display: inline-block;
}
.topperButton .btn:active, .topperButton .btn:focus{
  outline: none;
  outline-width: 0;
}
.backButton{
  float: left;
}
.topRightButtons{
  height: 40px;
  width: 110px;
  float: right;
  text-align: center;
}
.listItem{
  color: white;
  background-color: #555;
  min-height: 44px;
  padding-left: 5px;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
}
.listButton{
  float: right;
  outline: none;
  outline-width: 0;
  border-radius: 0px;
  color: white;
  border: none;
  background-color: inherit;
}
.listColor5{
 background-color: rgb(17, 198, 17);
}
.listColor6{
 background-color: rgb(255, 54, 48);
}
.listColor7{
 background-color: rgb(0, 120, 255);
}
.listColorProf{
 background-color: gray;
}
.listColorAdmin{
 background-color: purple;
}
.chapitreName{
  font-size: 24px;
  cursor: pointer;
}
form{
  padding: 8px;
}